{% extends 'core/plantilla.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 align-self-center"><h1 class="display-1">TIENDA</h1></div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="row" style="padding:10px 0">
                        <div class="col-12">
                            <div class="row">
                                productos

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    carrito
                </div>
            </div>
        </div>

    </div>
{% endblock %}



