{% extends 'core/plantilla.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block contenido %}

<br>
<h1>Listado de Promociones</h1>
<br>
<table class="table table-hover">
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Porcentaje</th>
        <th>Fecha Inicio</th>
        <th>fecha termino</th>
        <th>Modificar</th>
        <th>Eliminar</th>
    </tr>
    {% for i in promociones %}
    <tr>
        <td>{{i.idPromocion}}</td>
        <td>{{i.nombrePromocion}}</td>
        <td>{{i.porcentaje}}</td>
        <td>{{i.fecha_ini}}</td>
        <td>{{i.fecha_termino}}</td>
        <td>
            <a href="{% url 'modificarPromocion' i.idPromocion %}">Modificar</a>
        </td>
        <td>
            <a href="{% url 'eliminarPromocion' i.idPromocion %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<h3>¿Deseas agregar otro producto?</h3>
<br>
<button class="btn btn-primary"><a href="{% url 'agregarPromocion' %}" style="text-decoration:none ; color: black;">Agregar</a></button>

{% endblock %}